@import "bootstrap_and_overrides";

.item {
  border-top: 1px solid #eee;
  padding: 10px 0;
  clear: both;

  .image_container {
    @extend .span2;
    margin-right: -25px;
    position: relative;
    float: left;

    img {
      margin-bottom: 10px;
    }

    .action input {
      @extend .btn;
      @extend .btn-warn;
      @extend .btn-small;
    }
  }

  .title {
    margin-bottom: 6px;
    font-size: 17px;
    font-weight: bold;
  }

  .details {
    @extend .span2;
    float: left;
    margin: 0;
    padding:0 10px 0 0;

    .detail {
      margin-bottom: 5px;

      .list_price {
        font-weight: bold;
      }

      .price {
        color: #900;
      }

      .discounted {
        //font-weight: normal;
        color: #333333;
        text-decoration: line-through;
      }
    }
  }

  .offers {
    @extend .span4;
    border-left: 1px solid #eee;
    float: left;
    margin: 0;
    padding: 0 0 0 20px;

    ul {
      list-style-type: none;
      list-style-position: outside;
      margin: 0;
      padding: 0;
    }

    .offer {
      .price {
        color: #cc6600;
      }

      .merchant {
        font-weight: bold;
      }
    }

    .best.offer {
      color: #006400;
      font-style: italic;
    }
  }
}

#item_0 {
  border-top: 0;
}